body{
  text-align: center;
  font-size: 25px;
  background-color: cornflowerblue;
  /* color: white; */
}
.wrapper{
  margin: 120px auto;
  max-width: 600px;
  width: 100%;
  border-radius: 5px;
  padding: 25px;
  background-color: white;
}
#date-picker{
  font-size: 22px;
}
input{
  font-size: 22px;
}
button{
  font-size: 20px;
  width: max-content;
}
.td{
  display: hide;
}